.gradeBook{
    display: grid;
    grid-template-columns: 200px auto auto auto auto auto auto auto auto auto auto;
}

.buttons{
    text-align: center;
}

.editStudents{
    width:70%;
    margin-bottom: 5px;
}

.editAssignments{
    width:70%;
}

.assignment{
    text-align: center;
}

.student{
    text-align: center;
}

.assignment{
    display:flex;
    align-items: center;
    justify-content: center;
    border:solid black 1px;
}

.scoreInput{
    width:30px;
    height:20px;
    text-align: right;
}

.totalPoints{
    padding-left: 2px;
}